# Server 
APP_NAME="Agri-Trend DSS"
APP_VERSION="1.0.0"
DEBUG=False
HOST=0.0.0.0
PORT=8000

# CORS 
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173

# Database (Supabase)
SUPABASE_URL=https://seiczeaoxrdsrwndwhgx.supabase.co
SUPABASE_KEY=sb_publishable_eZo_MAtreNSdLOpvviGTeg_tBBoVja8
DATABASE_PASSWORD=EoMNbK1ZHbo5te25

# Gemini API
GEMINI_API_KEY=AIzaSyABWojOyfW-lECAMJpVblNseMTSdc_7iYo
GEMINI_MODEL=gemini-2.5-flash # I Think this recommend fr :^

# ML Model 
ML_MODEL_PATH=<models>