# Server 
APP_NAME="Agri-Trend DSS"
APP_VERSION="1.0.0"
DEBUG=False
HOST=0.0.0.0
PORT=8000

# CORS 
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173

# Database (Supabase)
SUPABASE_URL=<< ENTER YOUR SUPABASE URL >>
SUPABASE_KEY=<< ENTER YOUR SUPABASE KEY >>
DATABASE_PASSWORD=<< ENTER YOUR DATABASE PASSWORD >>

# Gemini API
GEMINI_API_KEY=<< ENTER YOUR GEMINI API KEY >>
GEMINI_MODEL=gemini-2.5-flash # I Think this recommend fr :^

# ML Model 
ML_MODEL_PATH=<models>